#nav > .container_new_user{
    width: 75%;
    position: fixed;
    left: 50%;
    margin-left: -37.5%;
    top: 100px;
    z-index: 20;
    background-color: lightgoldenrodyellow;
    padding: 20px;
    border: 2px solid black;
}
