/* JS Commands */
.hidden{
    display:none;
}
.expand {
    colspan:2;
}

.container_new_user
{
    background-color: rgba(189,189,189,0.7) !important;

}
form#form_new_user
{
    text: rgba(0, 0, 0, 1);
}
html
{
    background-color: #e6ee9c;
}
table,tr, th, td
{
    background-color: white;
    /*border: 2px solid black;*/
}
table#main
{
    position: absolute;
    top: 0; bottom: 0; left:0; right: 0;
    overflow-y: auto;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
table#loc
{
    border-collapse: collapse;
}
table#SummonerFinder
{
    width: 90%;
    border-collapse: collapse;
}
th
{
    height: auto;
}
td
{
    height: 100%;
    vertical-align: top;
}
input#autocomplete
{
    width: 90%;
}
td#nav
{
    padding:5px;
    width:20%;
    text-align: top;
    background-color: #f1f1c1;
}
#nav > #btn_new_user{
    width:100%;
}
#map
{
    align: absolute;
}
#footer
{
    margin: 0;
    padding: 0 0 0 0;
    font-size: 10px;
}
td#c, input#street_number, input#route, input#postal_code
{
    display: none;
}

.field
{
    width: justify;
}

