//JS Commands
.hidden{
    display:none;
}
.expand {
    colspan:2;
}


html
{
    background-color: #c5cae9;
}
table,tr, th, td
{
    background-color: white;
    border: 2px solid black;
}
table#main
{
    position: absolute;
    top: 0; bottom: 0; left:0; right: 0;
    overflow-y: auto;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
table#loc
{
    border-collapse: collapse;
}
th
{
    height: auto;
}
td
{
    height: 100%;
}
#nav
{
    width:20%;
    text-align: top;
    background-color: #f1f1c1;
}
#map
{
    align: absolute;
}
#footer
{
    margin: 0;
    padding: 0 0 0 0;
    font-size: 10px;
}
td#c
{
    display: none;
}
