html
{
    background-color: #c5cae9;
}
table,tr, th, td
{
    background-color: white;
    border: 1px solid black;
}
table
{
    overflow-y: auto;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
th
{
    height: auto;
}
td
{
    height: 100%;
}
#nav
{
    width:20%;
    text-align: top;
    background-color: #f1f1c1;
}
.breadcrumb
{
    list-style: none;
    overflow:hidden;
}
.breadcrumb li align
{
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 65px;
    background: brown;
    background: hsla(34,85%,35%,1);
    position: relative;
    display: block;
    float: left;
}
.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(34,85%,35%,1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2; 
}